<!DOCTYPE html>
<html lang="en, gr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{visitor_layout}">
<head>
    <title>Register</title>
</head>
<main layout:fragment="main">
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="register">
                <h1>Registration Form</h1>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form method="post" th:action="@{/register}" th:object="${user}" onsubmit="checkPassword()">
                            <div class="box_form">
                                <div class="form-group">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitchCheckDefault" onchange="toggleRegistrationBlock()">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Register as a
                                            doctor</label>
                                    </div>
                                </div>
                                <div id="RegistrationBlock">
                                    <!-- HTML code for registration -->
                                    <div class="row">
                                        <div class="col-lg-12" id="afm" style="display: none;">
                                            <div class="form-group" id="div_doctor_afm">
                                                <input type="tel" pattern="^[0-9]{9}$" class="form-control"
                                                       placeholder="AFM" name="doctor_afm" id="doctor_afm"
                                                       th:field="*{afm}" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" id="amka">
                                            <div class="form-group">
                                                <input type="tel" pattern="^[0-9]{11}$" class="form-control"
                                                       placeholder="AMKA" name="patient_amka" id="patient_amka"
                                                       th:field="*{amka}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name"
                                                       th:field="*{name}" name="name" id="name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Surname"
                                                       th:field="*{surname}" name="surname" id="surname" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email address"
                                                       th:field="*{email}" name="email" id="email" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="tel" pattern="^[0-9]{10}$" class="form-control"
                                                       placeholder="Personal phone" name="personal_phone"
                                                       th:field="*{personalPhone}" id="personal_phone" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <input type="date" class="form-control"
                                                           placeholder="Date of birth" name="doctor_date_of_birth"
                                                           th:field="*{dateOfBirth}" id="date_of_birth" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-6" id="businessPhone" style="display: none;">
                                            <div class="form-group">
                                                <input type="tel" pattern="^[0-9]{10}$" class="form-control"
                                                       placeholder="Business phone" name="doctor_business_phone"
                                                       th:field="*{businessPhone}" id="doctor_business_phone" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="specialization" style="display: none;">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       placeholder="Specialization" name="doctor_specialization"
                                                       th:field="*{specialization}" id="doctor_specialization" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-6" id="address" style="display: none;">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Address"
                                                       name="doctor_office_address" id="doctor_office_address"
                                                       th:field="*{address}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="city" style="display: none;">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="City"
                                                       name="doctor_office_city" id="doctor_office_city"
                                                       th:field="*{city}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="tel" class="form-control"
                                                       placeholder="Password" name="password" id="password"
                                                       th:field="*{password}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="tel" class="form-control" placeholder="Confirm password"
                                                       name="confirm_password" id="confirm_password"
                                                       required oninput="checkPassword()">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>

                                <div id="pass-info" class="clearfix"></div>
                                <div class="checkbox-holder text-left">
                                    <div class="checkbox_2">
                                        <input type="checkbox" value="terms_accepted" id="terms_check_box"
                                               name="terms_check_box" onchange="checkTerms()" checked>
                                        <label for="terms_check_box"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                                    </div>
                                </div>
                                <div class="form-group text-center add_top_30">
                                    <input class="btn_1" type="submit" value="Submit" name="submit_btn"
                                           id="submit_btn">
                                </div>
                            </div>
                            <p class="text-center link_bright">Have an account already? <a th:href="@{/login}"><strong>Log
                                in</strong></a></p>
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /register -->
        </div>
    </div>

    <!-- SCRIPT -->
    <script th:inline="javascript">
        function toggleRegistrationBlock() {
            const checkbox = document.getElementById("flexSwitchCheckDefault"); // true if doctor, false if patient
            const amka = document.getElementById("amka");
            const afm = document.getElementById("afm");
            const specialization = document.getElementById("specialization");
            const businessPhone = document.getElementById("businessPhone");
            const address = document.getElementById("address");
            const city = document.getElementById("city");

            if (checkbox.checked) {
                amka.style.display = "none";
                afm.style.display = "block";
                specialization.style.display = "block";
                businessPhone.style.display = "block";
                address.style.display = "block";
                city.style.display = "block";
            } else {
                amka.style.display = "block";
                afm.style.display = "none";
                specialization.style.display = "none";
                businessPhone.style.display = "none";
                address.style.display = "none";
                city.style.display = "none";
            }
        }

        function checkPassword() {
            const password = document.getElementById("password");
            const confirmPassword = document.getElementById("confirm_password");
            const checkbox = document.getElementById("flexSwitchCheckDefault"); // true if doctor, false if patient

            if (checkbox.checked) {
                if (password.value !== confirmPassword.value) {
                    confirmPassword.setCustomValidity("Passwords don't match");
                } else {
                    confirmPassword.setCustomValidity('');
                }
            }
        }

        function checkTerms() {
            const termsCheckBox = document.getElementById("terms_check_box");
            const submitBtn = document.getElementById("submit_btn");
            submitBtn.hidden = !termsCheckBox.checked;
        }
    </script>
    <!-- /SCRIPT -->
</main>
<!-- /main -->
</html>