<!DOCTYPE html>
<html lang="en, gr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{visitor-patient_layout}">
<head>
    <title>Register</title>
</head>
<main layout:fragment="main">
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="register">
                <h1>Registration Form</h1>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form onsubmit="checkPassword()">
                            <div class="box_form">
                                <div class="form-group">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitchCheckDefault" onchange="toggleRegistrationBlock()">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Register as a
                                            doctor</label>
                                    </div>
                                </div>
                                <div id="doctorRegistrationBlock" style="display: none;">
                                    <!-- HTML code for doctor registration -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="tel" pattern="^[0-9]{9}$" class="form-control"
                                                       placeholder="AFM" name="doctor_afm" id="doctor_afm" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name"
                                                       name="doctor_name" id="doctor_name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Surname"
                                                       name="doctor_surname" id="doctor_surname" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email address"
                                                       name="doctor_email" id="doctor_email" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       placeholder="Specialization" name="doctor_specialization"
                                                       id="doctor_specialization" required>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <input type="date" class="form-control"
                                                           placeholder="Date of birth"
                                                           name="doctor_date_of_birth"
                                                           id="doctor_date_of_birth" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="tel" pattern="^[0-9]{10}$" class="form-control"
                                                       placeholder="Personal phone" name="doctor_personal_phone"
                                                       id="doctor_personal_phone" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="tel" pattern="^[0-9]{10}$" class="form-control"
                                                       placeholder="Office phone" name="doctor_office_phone"
                                                       id="doctor_office_phone" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Address"
                                                       name="doctor_office_address" id="doctor_office_address" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <input type="text"
                                                       pattern="^[1-9]{1}[0-9]{0,2}[Α-ΩA-Z]{0,1}$"
                                                       class="form-control" placeholder="Number"
                                                       name="doctor_office_number" id="doctor_office_number"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="City"
                                                       name="doctor_office_city" id="doctor_office_city"
                                                       required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="tel" class="form-control"
                                                       placeholder="Password"
                                                       name="doctor_password" id="doctor_password" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="tel" class="form-control" placeholder="Confirm password"
                                                       name="doctor_confirm_password" id="doctor_confirm_password"
                                                       required oninput="checkPassword()">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>

                                <div id="patientRegistrationBlock" style="display: block;">
                                    <!-- HTML code for patient registration -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="tel" pattern="^[0-9]{11}$" class="form-control"
                                                       placeholder="AMKA"
                                                       name="patient_amka" id="patient_amka"
                                                       required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name"
                                                       name="patient_name" id="patient_name"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       placeholder="Surname"
                                                       name="patient_surname"
                                                       id="patient_surname"
                                                       required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control"
                                                       placeholder="Email address"
                                                       name="patient_email" id="patient_email"
                                                       required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="form-group">
                                                <input type="tel" pattern="^[0-9]{10}$" class="form-control"
                                                       placeholder="Personal phone"
                                                       name="patient_personal_phone"
                                                       id="patient_personal_phone" required>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <input type="date" class="form-control"
                                                           placeholder="Date of birth"
                                                           name="patient_date_of_birth"
                                                           id="patient_date_of_birth" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="tel" class="form-control"
                                                       placeholder="Password"
                                                       name="patient_password" id="patient_password"
                                                       required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="tel" class="form-control"
                                                       placeholder="Confirm password"
                                                       name="patient_confirm_password"
                                                       id="patient_confirm_password"
                                                       required oninput="checkPassword()">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>

                                <div id="pass-info" class="clearfix"></div>
                                <div class="checkbox-holder text-left">
                                    <div class="checkbox_2">
                                        <input type="checkbox" value="terms_accepted" id="terms_check_box"
                                               name="terms_check_box" onchange="checkTerms()" checked>
                                        <label for="terms_check_box"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                                    </div>
                                </div>
                                <div class="form-group text-center add_top_30">
                                    <input class="btn_1" type="submit" value="Submit" name="submit_btn"
                                           id="submit_btn">
                                </div>
                            </div>
                            <p class="text-center"><small>Has voluptua vivendum accusamus cu. Ut per
                                assueverit
                                temporibus dissentiet. Eum no atqui putant democritum, velit nusquam
                                sententiae
                                vis
                                no.</small></p>
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /register -->
        </div>
    </div>

    <!-- SCRIPT -->
    <script th:inline="javascript">
        function toggleRegistrationBlock() {
            const checkbox = document.getElementById("flexSwitchCheckDefault"); // true if doctor, false if patient
            const doctorRegistrationBlock = document.getElementById("doctorRegistrationBlock");
            const patientRegistrationBlock = document.getElementById("patientRegistrationBlock");

            if (checkbox.checked) {
                doctorRegistrationBlock.style.display = "block";
                patientRegistrationBlock.style.display = "none";
            } else {
                doctorRegistrationBlock.style.display = "none";
                patientRegistrationBlock.style.display = "block";
            }
        }

        function checkPassword() {
            const patient_password = document.getElementById("patient_password");
            const patient_confirmPassword = document.getElementById("patient_confirm_password");
            const doctor_password = document.getElementById("doctor_password");
            const doctor_confirmPassword = document.getElementById("doctor_confirm_password");
            const checkbox = document.getElementById("flexSwitchCheckDefault"); // true if doctor, false if patient

            if (checkbox.checked) {
                if (doctor_password.value !== doctor_confirmPassword.value) {
                    doctor_confirmPassword.setCustomValidity("Passwords don't match");
                } else {
                    doctor_confirmPassword.setCustomValidity('');
                }
            } else {
                if (patient_password.value !== patient_confirmPassword.value) {
                    patient_confirmPassword.setCustomValidity("Passwords don't match");
                } else {
                    patient_confirmPassword.setCustomValidity('');
                }
            }
        }

        function checkTerms() {
            const termsCheckBox = document.getElementById("terms_check_box");
            const submitBtn = document.getElementById("submit_btn");
            submitBtn.hidden = !termsCheckBox.checked;
        }
    </script>
    <!-- /SCRIPT -->
</main>
<!-- /main -->
</html>