<!DOCTYPE html>
<html lang="en, gr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{visitor_layout}">
<head>
    <title>Register</title>
</head>
<main layout:fragment="main">
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div th:object="${user}">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('personalPhone')}" th:errors="*{personalPhone}"
                   class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('amka')}" th:errors="*{amka}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('afm')}" th:errors="*{afm}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
                <p th:if="${#fields.hasErrors('isDoctor')}" th:errors="*{isDoctor}" class="alert alert-warning"
                   style="text-align: center; width: 40%; display: block; margin: 0 auto;"></p>
            </div>
            <div id="register">
                <h1>Registration Form</h1>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form method="post" th:action="@{/register}" th:object="${user}"
                              onsubmit="return validation();">
                            <div class="box_form">
                                <div class="form-group">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               name="isDoctor" id="flexSwitchCheckDefault" th:field="*{isDoctor}"
                                               onchange="toggleRegistrationBlock()">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Register as a
                                            doctor</label>
                                    </div>
                                </div>
                                <div id="RegistrationBlock">
                                    <!-- HTML code for registration -->
                                    <div class="row">
                                        <div class="col-lg-12" id="afm_div" style="display: none;">
                                            <div class="form-group">
                                                <label style="color:red" for="doctor_afm" id="afm_label"
                                                       hidden></label><br>
                                                <input type="tel"
                                                       class="form-control"
                                                       placeholder="AFM"
                                                       name="doctor_afm"
                                                       id="doctor_afm"
                                                       th:field="*{afm}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12" id="amka_div">
                                            <div class="form-group">
                                                <label style="color:red" for="patient_amka" id="amka_label"
                                                       hidden></label><br>
                                                <input type="tel"
                                                       class="form-control"
                                                       placeholder="AMKA"
                                                       name="patient_amka"
                                                       id="patient_amka"
                                                       th:field="*{amka}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color:red" for="name" id="name_label"
                                                       hidden></label><br>
                                                <input type="text" class="form-control"
                                                       placeholder="Name"
                                                       th:field="*{name}" name="name"
                                                       id="name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="color:red" for="surname" id="surname_label"
                                                       hidden></label><br>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Surname"
                                                       th:field="*{surname}"
                                                       name="surname" id="surname">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label style="color:red" for="email" id="email_label"
                                                       hidden></label><br>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Email address"
                                                       th:field="*{email}"
                                                       name="email" id="email">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label style="color:red" for="personal_phone"
                                                       id="personal_phone_label"
                                                       hidden></label><br>
                                                <input type="tel"
                                                       class="form-control"
                                                       placeholder="Personal phone"
                                                       name="personal_phone"
                                                       th:field="*{personalPhone}"
                                                       id="personal_phone">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label style="color:red" for="date_of_birth"
                                                           id="date_of_birth_label"
                                                           hidden></label><br>
                                                    <input type="date"
                                                           class="form-control"
                                                           placeholder="Date of birth"
                                                           name="doctor_date_of_birth"
                                                           th:field="*{dateOfBirth}"
                                                           id="date_of_birth">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-6" id="business_phone_div" style="display: none;">
                                            <div class="form-group">
                                                <label style="color:red" for="business_phone"
                                                       id="business_phone_label"
                                                       hidden></label><br>
                                                <input type="tel"
                                                       class="form-control"
                                                       placeholder="Business phone"
                                                       name="business_phone"
                                                       th:field="*{businessPhone}"
                                                       id="business_phone">
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="specialization_div" style="display: none;">
                                            <div class="form-group">
                                                <label style="color:red" for="doctor_specialization"
                                                       id="specialization_label"
                                                       hidden></label><br>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Specialization"
                                                       name="doctor_specialization"
                                                       th:field="*{specialization}"
                                                       id="doctor_specialization">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-8" id="address_div" style="display: none;">
                                            <div class="form-group">
                                                <label style="color:red" for="doctor_office_address"
                                                       id="address_label"
                                                       hidden></label><br>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Address"
                                                       name="doctor_office_address"
                                                       id="doctor_office_address"
                                                       th:field="*{address}">
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="city_div" style="display: none;">
                                            <div class="form-group">
                                                <label style="color:red" for="doctor_office_city" id="city_label"
                                                       hidden></label><br>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="City"
                                                       name="doctor_office_city"
                                                       id="doctor_office_city"
                                                       th:field="*{city}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label style="color:red" for="username" id="username_label"
                                                       hidden></label><br>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Username"
                                                       name="username"
                                                       id="username"
                                                       th:field="*{username}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label style="color:red" for="password" id="password_label"
                                                       hidden></label><br>
                                                <input type="password"
                                                       class="form-control"
                                                       placeholder="Password"
                                                       name="password"
                                                       id="password"
                                                       th:field="*{password}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label style="color:red" for="confirm_password"
                                                       id="confirm_password_label"
                                                       hidden></label><br>
                                                <input type="password"
                                                       class="form-control"
                                                       placeholder="Confirm password"
                                                       name="confirm_password"
                                                       id="confirm_password">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>

                                <div id="pass-info" class="clearfix"></div>
                                <div class="checkbox-holder text-left">
                                    <div class="checkbox_2">
                                        <input type="checkbox" value="terms_accepted" id="terms_check_box"
                                               name="terms_check_box" onchange="checkTerms()" checked>
                                        <label for="terms_check_box"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                                    </div>
                                </div>
                                <div class="form-group text-center add_top_30">
                                    <input class="btn_1" type="submit" value="Submit" name="submit_btn"
                                           id="submit_btn">
                                </div>
                            </div>
                            <p class="text-center link_bright">Have an account already? <a
                                    th:href="@{/login}"><strong>Log
                                in</strong></a></p>
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /register -->
        </div>
    </div>
    <!-- SCRIPT -->
    <script th:inline="javascript">
        const checkbox = document.getElementById("flexSwitchCheckDefault"); // true if doctor, false if patient

        function toggleRegistrationBlock() {
            const amka_div = document.getElementById("amka_div");
            const afm_div = document.getElementById("afm_div");
            const specialization_div = document.getElementById("specialization_div");
            const businessPhone_div = document.getElementById("business_phone_div");
            const address_div = document.getElementById("address_div");
            const city_div = document.getElementById("city_div");

            if (checkbox.checked) {
                amka_div.style.display = "none";
                afm_div.style.display = "block";
                specialization_div.style.display = "block";
                businessPhone_div.style.display = "block";
                address_div.style.display = "block";
                city_div.style.display = "block";
            } else {
                amka_div.style.display = "block";
                afm_div.style.display = "none";
                specialization_div.style.display = "none";
                businessPhone_div.style.display = "none";
                address_div.style.display = "none";
                city_div.style.display = "none";
            }
        }

        function checkTerms() {
            const termsCheckBox = document.getElementById("terms_check_box");
            const submitBtn = document.getElementById("submit_btn");
            submitBtn.hidden = !termsCheckBox.checked;
        }

        function setInvalidInput(input, label, message) {
            input.style.borderColor = "red";
            label.hidden = false;
            label.innerText = message;
        }

        function validation() {
            const amka = document.getElementById("patient_amka");
            const afm = document.getElementById("doctor_afm");
            const name = document.getElementById("name");
            const surname = document.getElementById("surname");
            const email = document.getElementById("email");
            const personalPhone = document.getElementById("personal_phone");
            const dateOfBirth = document.getElementById("date_of_birth");
            const businessPhone = document.getElementById("business_phone");
            const specialization = document.getElementById("doctor_specialization");
            const address = document.getElementById("doctor_office_address");
            const city = document.getElementById("doctor_office_city");
            const username = document.getElementById("username");
            const password = document.getElementById("password");
            const confirmPassword = document.getElementById("confirm_password");

            const amkaLabel = document.getElementById("amka_label");
            const afmLabel = document.getElementById("afm_label");
            const nameLabel = document.getElementById("name_label");
            const surnameLabel = document.getElementById("surname_label");
            const emailLabel = document.getElementById("email_label");
            const personalPhoneLabel = document.getElementById("personal_phone_label");
            const dateOfBirthLabel = document.getElementById("date_of_birth_label");
            const businessPhoneLabel = document.getElementById("business_phone_label");
            const specializationLabel = document.getElementById("specialization_label");
            const addressLabel = document.getElementById("address_label");
            const cityLabel = document.getElementById("city_label");
            const usernameLabel = document.getElementById("username_label");
            const passwordLabel = document.getElementById("password_label");
            const confirmPasswordLabel = document.getElementById("confirm_password_label");

            amka.style.borderColor = afm.style.borderColor = name.style.borderColor = surname.style.borderColor =
                email.style.borderColor = personalPhone.style.borderColor = dateOfBirth.style.borderColor =
                    businessPhone.style.borderColor = specialization.style.borderColor = address.style.borderColor =
                        city.style.borderColor = username.style.borderColor = password.style.borderColor =
                            confirmPassword.style.borderColor = "initial";

            amkaLabel.hidden = afmLabel.hidden = nameLabel.hidden = surnameLabel.hidden = emailLabel.hidden =
                personalPhoneLabel.hidden = dateOfBirthLabel.hidden = businessPhoneLabel.hidden =
                    specializationLabel.hidden = addressLabel.hidden = cityLabel.hidden = usernameLabel.hidden =
                        passwordLabel.hidden = confirmPasswordLabel.hidden = true;

            let validationFailed = false;
            const email_pattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
            const phone_pattern = /^[0-9]{10}$/;
            const username_pattern = /^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/;
            const password_pattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

            /* Common fields */
            if (name.value === "" || name.value === undefined) {
                setInvalidInput(name, nameLabel, "Name is required");
                validationFailed = true;
            }

            if (surname.value === "" || surname.value === undefined) {
                setInvalidInput(surname, surnameLabel, "Surname is required");
                validationFailed = true;
            }

            if (email.value === "" || email.value === undefined) {
                setInvalidInput(email, emailLabel, "Email is required");
                validationFailed = true;
            } else if (!email_pattern.test(email.value)) {
                setInvalidInput(email, emailLabel, "Email is invalid");
                validationFailed = true;
            }

            if (personalPhone.value === "" || personalPhone.value === undefined) {
                setInvalidInput(personalPhone, personalPhoneLabel, "Personal phone is required");
                validationFailed = true;
            } else if (!phone_pattern.test(personalPhone.value)) {
                setInvalidInput(personalPhone, personalPhoneLabel, "Personal phone must be 10 digits");
                validationFailed = true;
            }

            if (dateOfBirth.value === "" || dateOfBirth.value === undefined) {
                setInvalidInput(dateOfBirth, dateOfBirthLabel, "Date of birth is required");
                validationFailed = true;
            }

            if (username.value === "" || username.value === undefined) {
                setInvalidInput(username, usernameLabel, "Username is required");
                validationFailed = true;
            } else if (!username_pattern.test(username.value)) {
                setInvalidInput(username, usernameLabel,
                    "Username must be 8-20 characters long.\n" +
                    "Valid usernames: username, username123, username_123\n" +
                    "Invalid usernames: user name, username-123, username_123_");
                validationFailed = true;
            }

            if (password.value === "" || password.value === undefined) {
                setInvalidInput(password, document.getElementById("password_label"), "Password is required");
                validationFailed = true;
            } else if (!password_pattern.test(password.value)) {
                setInvalidInput(password, passwordLabel,
                    "Password must be 8 characters long and contain at least one letter and one number.");
                validationFailed = true;
            } else if (password.value !== confirmPassword.value) {
                setInvalidInput(password, passwordLabel, "");
                setInvalidInput(confirmPassword, confirmPasswordLabel, "Passwords do not match");
                validationFailed = true;
            }

            /* Doctor fields */
            if (checkbox.checked) {
                const afm_pattern = /^[0-9]{9}$/;

                if (afm.value === "" || afm.value === undefined) {
                    setInvalidInput(afm, afmLabel, "AFM is required");
                    validationFailed = true;
                } else if (!afm_pattern.test(afm.value)) {
                    setInvalidInput(afm, afmLabel, "AFM must be 9 digits");
                    validationFailed = true;
                }

                if (businessPhone.value === "" || businessPhone.value === undefined) {
                    setInvalidInput(businessPhone, businessPhoneLabel, "Business phone is required");
                    validationFailed = true;
                } else if (!phone_pattern.test(businessPhone.value)) {
                    setInvalidInput(businessPhone, businessPhoneLabel, "Business phone must be 10 digits");
                    validationFailed = true;
                }

                if (specialization.value === "" || specialization.value === undefined) {
                    setInvalidInput(specialization, specializationLabel, "Specialization is required");
                    validationFailed = true;
                }

                if (address.value === "" || address.value === undefined) {
                    setInvalidInput(address, addressLabel, "Address is required");
                    validationFailed = true;
                }

                if (city.value === "" || city.value === undefined) {
                    setInvalidInput(city, cityLabel, "City is required");
                    validationFailed = true;
                }
            }
            /* Patient fields */
            else {
                const amka_pattern = /^[0-9]{11}$/;

                if (amka.value === "" || amka.value === undefined) {
                    setInvalidInput(amka, amkaLabel, "AMKA is required");
                    return false;
                } else if (!amka_pattern.test(amka.value)) {
                    setInvalidInput(amka, amkaLabel, "AMKA must be 11 digits");
                    return false;
                }
            }
            if (validationFailed) {
                return false;
            } else {
                amka.value = checkbox.checked ? "" : amka.value;
                afm.value = checkbox.checked ? afm.value : "";
                businessPhone.value = checkbox.checked ? businessPhone.value : "";
                specialization.value = checkbox.checked ? specialization.value : "";
                address.value = checkbox.checked ? address.value : "";
                city.value = checkbox.checked ? city.value : "";
                return true;
            }
        }
    </script>
    <!-- /SCRIPT -->
</main>
<!-- /main -->
</html>