<!DOCTYPE html>
<html lang="en, gr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Findoctor</title>

    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{/admin-doctor/img/favicon.ico}" type="image/x-icon">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- Bootstrap core CSS-->
    <link th:href="@{/admin-doctor/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Icon fonts-->
    <link th:href="@{/admin-doctor/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <!-- Plugin styles -->
    <link th:href="@{/admin-doctor/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Main styles -->
    <link th:href="@{/admin-doctor/css/admin.css}" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{/doctor/}"><img th:src="@{/admin-doctor/img/logo.png}" data-retina="true" alt=""
                                                       width="163"
                                                       height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" th:href="@{/doctor/}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookings">
                <a class="nav-link" th:href="@{/doctor/appointments}">
                    <i class="fa fa-fw fa-calendar-check-o"></i>
                    <span class="nav-link-text">Appointments</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reviews">
                <a class="nav-link" th:href="@{/doctor/reviews}">
                    <i class="fa fa-fw fa-star"></i>
                    <span class="nav-link-text">Reviews</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
                <a class="nav-link" th:href="@{/doctor/profile}">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span class="nav-link-text">My profile</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /Navigation-->
<div class="content-wrapper">
    <div class="container-fluid" layout:fragment="main"></div>
    <!-- /.container-fluid-->
</div>
<!-- /.container-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © FinDoctor 2017</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin-doctor/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin-doctor/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/admin-doctor/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script th:src="@{/admin-doctor/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/admin-doctor/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/admin-doctor/vendor/jquery.selectbox-0.2.js}"></script>
<script th:src="@{/admin-doctor/vendor/retina-replace.min.js}"></script>
<script th:src="@{/admin-doctor/vendor/jquery.magnific-popup.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/admin-doctor/js/admin.js}"></script>

<div layout:fragment="additional-scripts"></div>
</body>

</html>