<!DOCTYPE html>
<html lang="en, gr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Findoctor</title>

    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{/patient/img/favicon.ico}" type="image/x-icon">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!-- BASE CSS -->
    <link th:href="@{/patient/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/patient/css/style.css}" rel="stylesheet">
    <link th:href="@{/patient/css/menu.css}" rel="stylesheet">
    <link th:href="@{/patient/css/vendors.css}" rel="stylesheet">
    <link th:href="@{/patient/css/icon_fonts/css/all_icons_min.css}" rel="stylesheet">


</head>

<body>

<div id="preloader" class="Fixed">
    <div data-loader="circle-side"></div>
</div>
<!-- /Preload-->

<div id="page">
    <header class="header">
        <a href="#menu" class="btn_mobile">
            <div class="hamburger hamburger--spin" id="hamburger">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <!-- /btn_mobile-->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div id="logo">
                        <a th:href="@{/}" title="Findoctor"><img th:src="@{/patient/img/logo.png}"
                                                                 alt="" width="163"
                                                                 height="36"></a>
                    </div>
                </div>
                <div class="col-lg-9 col-6">
                    <ul th:unless="${isLoggedIn}" id="top_access">
                        <li><a th:href="@{/login}"><i class="pe-7s-user"></i></a></li>
                        <li><a th:href="@{/register}"><i class="pe-7s-add-user"></i></a></li>
                    </ul>
                    <nav id="menu" class="main-menu">
                        <ul>
                            <li><span><a th:href="@{/}">Home</a></span></li>
                            <li><span><a th:href="@{/list}">Find a Doctor</a></span></li>
                            <li><span><a th:if="${isLoggedIn}" th:href="@{/profile}">Profile</a></span></li>
                            <li><span><a th:if="${isLoggedIn}" th:href="@{/logout}">Logout</a></span></li>
                        </ul>
                    </nav>
                    <!-- /main-menu -->
                </div>
            </div>
        </div>
        <!-- /container -->
    </header>
    <!-- /header -->

    <main layout:fragment="main"></main>
    <!-- /main -->

    <footer>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <p>
                        <a href="visitor/index.html" title="Findoctor">
                            <img th:src="@{/patient/img/logo.png}" alt="" width="163" height="36"
                                 class="img-fluid">
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h5>About</h5>
                    <ul class="links">
                        <li><a href="#0">About us</a></li>
                        <li><a th:href="@{/login}">Login</a></li>
                        <li><a th:href="@{/register}">Register</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h5>Useful links</h5>
                    <ul class="links">
                        <li><a th:href="@{/list}">Find a Doctor</a></li>
                        <li><a th:href="@{/register}">Join as a Doctor</a></li>
                        <li><a href="#0">Download App</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h5>Contact with Us</h5>
                    <ul class="contacts">
                        <li><a href="tel://61280932400" th:utext="${'<i class=&quot;icon_mobile&quot;></i>' + '+30 ' + contactPhone}"></a></li>
                        <li><a href="mailto:info@findoctor.com" th:utext="${'<i class=&quoticon_mail_alt&quot></i>' + contactEmail}"></a></li>
                    </ul>
                </div>
            </div>
            <!--/row-->
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div id="copy">© 2023 Findoctor</div>
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->
</div>
<!-- page -->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/patient/js/jquery-3.6.3.min.js}"></script>
<script th:src="@{/patient/js/common_scripts.min.js}"></script>
<script th:src="@{/patient/js/functions.js}"></script>

<div layout:fragment="additional-scripts"></div>

</body>
</html>