<!DOCTYPE html>
<html lang="en, gr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{visitor_layout}">

<head>
    <title>Main</title>
</head>

<main layout:fragment="main">
    <div class="hero_home version_1">
        <div class="content">
            <h3>Καλως ορισατε στο Findoctor!</h3>
            <p>
                Την αξιόπιστη πλατφόρμα για τα online ραντεβού σας!
            </p>
            <form method="post" action="list.html">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class=" search-query" placeholder="Αναζήτηση ιατρού ...">
                        <input type="submit" class="btn_search" value="Αναζήτηση">
                    </div>
                    <ul>
                        <li>
                            <input type="radio" id="doctor" name="radio_search" value="doctor" checked>
                            <label for="doctor">Ιατρός</label>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <!-- /Hero -->

    <div class="container margin_120_95">
        <div class="main_title">
            <h2>ΑΝΑΚΑΛΥΨΤΕ ΤΟ <strong>online</strong> ΡΑΝΤΕΒΟΥ!</h2>
            <p>Παρακάτω παρουσιάζονται τα τρία απλά βήματα που θα βελτιώσουν την εμπειρία σας.</p>
        </div>
        <div class="row add_bottom_30">
            <div class="col-lg-4">
                <div class="box_feat" id="icon_1">
                    <span></span>
                    <h3>Ευρεση ιατρου</h3>
                    <p>Ανακαλύψτε και συνδεθείτε με εξειδικευμένους ιατρούς στην περιοχή σας.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat" id="icon_2">
                    <span></span>
                    <h3>Προβολη προφιλ</h3>
                    <p>Εξερευνήστε τα αναλυτικά προφίλ των ιατρών, διαβάζοντας τις έμπιστες κριτικές τους.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat" id="icon_3">
                    <h3>Πραγματοποιηση κρατησης</h3>
                    <p>Προγραμματίστε εύκολα ραντεβού στις διαθέσιμες ημέρες και ώρες που επιθυμείτε.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
        <p class="text-center"><a href="list.html" class="btn_1 medium">Ας ξεκινήσουμε!</a></p>

    </div>
    <!-- /container -->

    <div class="bg_color_1">
        <div class="container margin_120_95">
            <div class="main_title">
                <h2>ΙΑΤΡΟΙ ΜΕ ΤΙΣ ΠΕΡΙΣΣΟΤΕΡΕΣ ΠΡΟΒΟΛΕΣ</h2>
                <p>Ανακαλύψτε την επιλογή μας από ιατρούς που έχουν συγκεντρώσει σημαντική προσοχή και ενδιαφέρον.</p>
            </div>
            <div id="reccomended" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="detail-page.html">
                        <div class="views"><i class="icon-eye-7"></i>115</div>
                        <div class="title">
                            <h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
                        </div>
                        <img src="https://www.alwaysandforever.de/wp-content/uploads/2022/10/image00001a6-scaled-350x500.jpg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="detail-page.html">
                        <div class="views"><i class="icon-eye-7"></i>115</div>
                        <div class="title">
                            <h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
                        </div>
                        <img src="https://www.happythinkingpeople.com/manage/wp-content/uploads/HTP-Newsletter-Personas-350x500.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- /carousel -->
        </div>
        <!-- /container -->
    </div>
    <!-- /white_bg -->

    <div class="container margin_120_95">
        <div class="main_title">
            <h2>ΑΝΑΖΗΤΗΣΗ ΒΑΣΕΙ ΕΙΔΙΚΟΤΗΤΑΣ</h2>
            <p>Nec graeci sadipscing disputationi ne, mea ea nonumes percipitur. Nonumy ponderum oporteat cu mel, pro
                movet
                cetero at.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="#0" class="box_cat_home">
                    <i class="icon-info-4"></i>
                    <img th:src="@{visitor-patient/img/icon_cat_1.svg}" width="60" height="60" alt="">
                    <h3>Πρωτοβάθμια περίθαλψη</h3>
                    <ul class="clearfix">
                        <li><strong>124</strong>Ιατροί</li>
                    </ul>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#0" class="box_cat_home">
                    <i class="icon-info-4"></i>
                    <img th:src="@{visitor-patient/img/icon_cat_2.svg}" width="60" height="60" alt="">
                    <h3>Καρδιολογία</h3>
                    <ul class="clearfix">
                        <li><strong>124</strong>Ιατροί</li>
                    </ul>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#0" class="box_cat_home">
                    <i class="icon-info-4"></i>
                    <img th:src="@{visitor-patient/img/icon_cat_3.svg}" width="60" height="60" alt="">
                    <h3>Μαγνητική τομογραφία (MRI)</h3>
                    <ul class="clearfix">
                        <li><strong>124</strong>Ιατροί</li>
                    </ul>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#0" class="box_cat_home">
                    <i class="icon-info-4"></i>
                    <img th:src="@{visitor-patient/img/icon_cat_4.svg}" width="60" height="60" alt="">
                    <h3>Αιματολογική εξέταση</h3>
                    <ul class="clearfix">
                        <li><strong>124</strong>Ιατροί</li>
                    </ul>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#0" class="box_cat_home">
                    <i class="icon-info-4"></i>
                    <img th:src="@{visitor-patient/img/icon_cat_7.svg}" width="60" height="60" alt="">
                    <h3>Laboratory</h3>
                    <ul class="clearfix">
                        <li><strong>124</strong>Ιατροί</li>
                    </ul>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#0" class="box_cat_home">
                    <i class="icon-info-4"></i>
                    <img th:src="@{visitor-patient/img/icon_cat_5.svg}" width="60" height="60" alt="">
                    <h3>Οδοντιατρική</h3>
                    <ul class="clearfix">
                        <li><strong>124</strong>Ιατροί</li>
                    </ul>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#0" class="box_cat_home">
                    <i class="icon-info-4"></i>
                    <img th:src="@{visitor-patient/img/icon_cat_6.svg}" width="60" height="60" alt="">
                    <h3>X - Ray</h3>
                    <ul class="clearfix">
                        <li><strong>124</strong>Ιατροί</li>
                    </ul>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#0" class="box_cat_home">
                    <i class="icon-info-4"></i>
                    <img th:src="@{visitor-patient/img/icon_cat_8.svg}" width="60" height="60" alt="">
                    <h3>Ψυχολογία</h3>
                    <ul class="clearfix">
                        <li><strong>124</strong>Ιατροί</li>
                    </ul>
                </a>
            </div>
        </div>
        <!-- /row -->
    </div>

    <!-- /container -->
</main>
<!-- /main -->

</html>