<!DOCTYPE html>
<html lang="en, gr"
        xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patient_layout}">

<head>
    <title>Confirmation</title>
</head>

<main layout:fragment="main">
    <div id="breadcrumb">
        <div class="container">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
            </ul>
        </div>
    </div>
    <!-- /breadcrumb -->

    <div class="container margin_120">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="confirm">
                    <div class="icon icon--order-success svg add_bottom_15">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
                            <g fill="none" stroke="#8EC343" stroke-width="2">
                                <circle cx="36" cy="36" r="35"
                                        style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                                <path d="M17.417,37.778l9.93,9.909l25.444-25.393"
                                      style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0;"></path>
                            </g>
                        </svg>
                    </div>
                    <div th:if="${status.equalsIgnoreCase('new-booking')}">
                        <h2>Appointment Reservation Successful!</h2>
                        <p>Your appointment has been successfully reserved. #[[ ${appointmentId} ]] </p>
                    </div>

                    <div th:unless="${status.equalsIgnoreCase('new-booking')}">
                        <h2>Demo!</h2>
                        <p>Your account will be activated by an administrator soon, and you will be notified by email.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->

</html>