<!DOCTYPE html>
<html lang="en, gr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patient_layout}"
      th:with="isLoggedIn=${isLoggedIn}, contactPhone=${contactDetails.get('contactPhone')}, contactEmail=${contactDetails.get('contactEmail')}"
>

<head>
    <title>Edit your review</title>

</head>

<body>

<main layout:fragment="main">



    <div id="breadcrumb">
        <div class="container">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{${'/details/' + doctorUsername}}">Details</a></li>
                <li>Edit your review</li>
            </ul>
        </div>
    </div>
    <!-- /breadcrumb -->

    <div class="container margin_60_35">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="box_general_3 write_review">
                    <h1 th:text="${'Edit your review for ' + doctorFullName}"></h1>
                    <form role="form" method="POST" th:action="@{/review/edit}" th:object="${ratingDto}">
                    <div class="rating_submit">
                        <div class="form-group">
                            <label class="d-block">Overall rating</label>
                            <input type="hidden" th:field="*{id}" />
                            <input type="hidden" th:value="${doctorUsername}" th:field="*{doctorDto.userDto.username}" />
                            <span class="rating">
								<input type="radio" class="rating-input" id="5_star" name="rating-input"
                                       th:field="*{ratingValue}" th:value="5"><label for="5_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="4_star" name="rating-input"
                                       th:field="*{ratingValue}" th:value="4"><label for="4_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="3_star" name="rating-input"
                                       th:field="*{ratingValue}" th:value="3"><label for="3_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="2_star" name="rating-input"
                                       th:field="*{ratingValue}" th:value="2"><label for="2_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="1_star" name="rating-input" th:field="*{ratingValue}" th:value="1"><label
                                    for="1_star" class="rating-star"></label>
							</span>
                        </div>
                    </div>
                    <!-- /rating_submit -->
                    <div class="form-group">
                        <label>Your review</label>
                        <textarea
                                type="text"
                                th:field="*{review}"
                                class="form-control" style="height: 180px;"
                                placeholder="Write your review here ..."></textarea>
                    </div>
                    <hr>
                        <div style="display: flex; justify-content: space-between; align-items: center">
                        <a th:href="@{${'/review/delete/' + doctorUsername}}">
                            Delete review</a>
                        <input type="submit" class="btn_1" value="Edit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>

    <!-- /container -->
</main>
<!-- /main -->

</body>
</html>