<!DOCTYPE html>
<html lang="en, gr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patient_layout}">

<head>
    <title>List</title>
</head>

<main layout:fragment="main">
    <div id="results">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4><strong>Showing 10</strong> of 140 results</h4>
                </div>
                <div class="col-md-6">
                    <div class="search_bar_list">
                        <input type="text" class="form-control" placeholder="Ex. Specialist, Name, Doctor...">
                        <input type="submit" value="Search">
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /results -->

    <div class="filters_listing">
        <div class="container">
            <ul class="clearfix">
                <li>
                    <h6>Sort by</h6>
                    <select name="orderby" class="selectbox">
                        <option value="Best rated">Best rated</option>
                        <option value="Closest">Closest</option>
                        <option value="Men">Men</option>
                        <option value="Women">Women</option>
                    </select>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /filters -->

    <div class="container margin_60_35">
        <div class="row">
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box_list wow fadeIn">
                            <a href="#0" class="wish_bt"></a>
                            <figure>
                                <a href="detail-page.html"><img src="http://via.placeholder.com/565x565.jpg"
                                                                class="img-fluid" alt="">
                                    <div class="preview"><span>Read more</span></div>
                                </a>
                            </figure>
                            <div class="wrapper">
                                <small>Psicologist</small>
                                <h3>Dr. Sickman</h3>

                                <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti
                                    cuodo....</p>
                                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                                        class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								<small>(145)</small></span>
                            </div>
                            <ul>
                                <li><a href="#">Book now</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-4">
                        <div class="box_list wow fadeIn">
                            <a href="#0" class="wish_bt"></a>
                            <figure>
                                <a href="detail-page.html"><img src="http://via.placeholder.com/565x565.jpg"
                                                                class="img-fluid" alt="">
                                    <div class="preview"><span>Read more</span></div>
                                </a>
                            </figure>
                            <div class="wrapper">
                                <small>Psicologist</small>
                                <h3>Dr. Sickman</h3>

                                <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti
                                    cuodo....</p>
                                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                                        class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								<small>(145)</small></span>
                            </div>
                            <ul>
                                <li><a href="#">Book now</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-4">
                        <div class="box_list wow fadeIn">
                            <a href="#0" class="wish_bt"></a>
                            <figure>
                                <a href="detail-page.html"><img src="http://via.placeholder.com/565x565.jpg"
                                                                class="img-fluid" alt="">
                                    <div class="preview"><span>Read more</span></div>
                                </a>
                            </figure>
                            <div class="wrapper">
                                <small>Psicologist</small>
                                <h3>Dr. Sickman</h3>

                                <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti
                                    cuodo....</p>
                                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                                        class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								<small>(145)</small></span>
                            </div>
                            <ul>
                                <li><a href="#">Book now</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-4">
                        <div class="box_list wow fadeIn">
                            <a href="#0" class="wish_bt"></a>
                            <figure>
                                <a href="detail-page.html"><img src="http://via.placeholder.com/565x565.jpg"
                                                                class="img-fluid" alt="">
                                    <div class="preview"><span>Read more</span></div>
                                </a>
                            </figure>
                            <div class="wrapper">
                                <small>Psicologist</small>
                                <h3>Dr. Sickman</h3>

                                <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti
                                    cuodo....</p>
                                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                                        class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								<small>(145)</small></span>
                            </div>
                            <ul>
                                <li><a href="#">Book now</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-4">
                        <div class="box_list wow fadeIn">
                            <a href="#0" class="wish_bt"></a>
                            <figure>
                                <a href="detail-page.html"><img src="http://via.placeholder.com/565x565.jpg"
                                                                class="img-fluid" alt="">
                                    <div class="preview"><span>Read more</span></div>
                                </a>
                            </figure>
                            <div class="wrapper">
                                <small>Psicologist</small>
                                <h3>Dr. Sickman</h3>

                                <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti
                                    cuodo....</p>
                                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                                        class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								<small>(145)</small></span>
                            </div>
                            <ul>
                                <li><a href="#">Book now</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /box_list -->

                </div>
                <!-- /row -->

                <nav aria-label="" class="add_top_20">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->

</html>