<!DOCTYPE html>
<html lang="en, gr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patient_layout}"
      th:with="isLoggedIn=${isLoggedIn}">

<head>
    <title>Home</title>
</head>

<body>
<main layout:fragment="main">

    <div class="hero_home version_1">
        <div class="content">
            <h3>Find a Doctor!</h3>
            <p>Search for a doctor using the search bar below:</p>
            <form role="form" method="get" th:action="@{/list}">
                <div id="custom-search-input">
                    <div class="input-group">
                            <input name="q" type="text" class="search-query" placeholder="Ex. Name, address, specialization, ...">
                            <input type="submit" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Hero -->

    <div class="container margin_120_95">
        <div class="main_title">
            <h2>Discover the <strong>online</strong> appointment!</h2>
            <p>Experience the convenience of our online appointment system. Follow these simple steps:</p>
        </div>
        <div class="row add_bottom_30">
            <div class="col-lg-4">
                <div class="box_feat" id="icon_1">
                    <span></span>
                    <h3>Find a Doctor</h3>
                    <p>Browse through our extensive list of experienced doctors specialized in various fields.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat" id="icon_2">
                    <span></span>
                    <h3>View profile</h3>
                    <p>Explore detailed profiles of doctors to learn more about their expertise and patient reviews.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat" id="icon_3">
                    <h3>Book a visit</h3>
                    <p>Select a convenient time slot and book your appointment hassle-free.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
        <p class="text-center"><a th:href="@{/list}" class="btn_1 medium">Find Doctor</a></p>

    </div>
    <!-- /container -->

</main>
<!-- /main -->
</body>
</html>