<!DOCTYPE html>
<html lang="en, gr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{doctor_layout}">

<head>
    <title>Bookings</title>
    <link rel="stylesheet" th:href="@{/admin-doctor/css/style_reservation.css}">
</head>
<body>

<div layout:fragment="main">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Bookings</li>
    </ol>

    <a style="font-style: italic; font-weight: bold;"> Double click to add a new Event</a>

    <div id="container">
        <input th:type="hidden" th:value="${doctorUsername}" id="doctorUsername">
        <div id="header">
            <div id="monthDisplay"></div>
            <div>
                <button id="backButton">Back</button>
                <button id="nextButton">Next</button>
            </div>
        </div>

        <div id="weekdays">
            <div>Sunday</div>
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
        </div>

        <div id="calendar"></div>
    </div>

    <div id="newEventModal2">
        <h3>Update Appointment</h3>
        <label for="newAppointmentID">Appointment Id</label>
        <input id="newAppointmentID" disabled />
        <label for="newTimeOfDate">New Time</label>
        <select id="newTimeOfDate" >
            <option value="08:00" >08:00</option>
            <option value="09:00" >09:00</option>
            <option value="10:00" >10:00</option>
            <option value="11:00" >11:00</option>
            <option value="12:00" >12:00</option>
            <option value="13:00" >13:00</option>
            <option value="14:00" >14:00</option>
            <option value="15:00" >15:00</option>
            <option value="16:00" >16:00</option>
            <option value="17:00" >17:00</option>
            <option value="18:00" >18:00</option>
            <option value="19:00" >19:00</option>
            <option value="20:00" >20:00</option>
        </select>
        <label for="newClientAFM">Client AMKA</label>
        <input id="newClientAFM" disabled />
        <label for="newClientName">Client Name</label>
        <input id="newClientName" disabled />
        <label for="newClientSurname">Client Surname</label>
        <input id="newClientSurname" disabled />

        <button id="saveButton2">Save</button>
        <button id="cancelButton2">Cancel</button>
    </div>

    <div id="modalBackDrop2"></div>

    <div style="margin-top: 60px">
        <table id="myTable">

        </table>
    </div>


</div>


<div layout:fragment="additional-scripts">
    <script th:src="@{/admin-doctor/js/script_reservation.js}"></script>
</div>
</body>
</html>