<!DOCTYPE html>
<html lang="en, gr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{doctor_layout}">

<head>
    <title>Doctor Profile</title>
</head>

<div layout:fragment="main">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/doctor/index}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Profile</li>
    </ol>
    <form method="post" th:action="@{/doctor/profile}" th:object="${doctor}" onsubmit="return validation();">
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-file"></i>Basic info</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Afm</label>
                        <input type="text" class="form-control" th:value="*{getAfm()}"
                               th:field="*{afm}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" id="name_label">Name</label>
                        <input type="text" class="form-control" th:value="*{user.getName()}"
                               th:field="*{user.name}" id="name" name="name" placeholder="Your name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="surname" id="surname_label">Surname</label>
                        <input type="text" class="form-control" th:value="*{user.getSurname()}"
                               th:field="*{user.surname}" id="surname" name="surname" placeholder="Your surname">
                    </div>
                </div>
            </div>
            <!-- /row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="personal_phone" id="personal_phone_label">Personal phone</label>
                        <input type="text" class="form-control" th:value="*{user.getPhone()}"
                               th:field="*{user.phone}" id="personal_phone" name="personal_phone"
                               placeholder="Your personal phone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="business_phone" id="business_phone_label">Business phone</label>
                        <input type="text" class="form-control" th:value="*{getBusinessPhone()}"
                               th:field="*{businessPhone}" id="business_phone" name="business_phone"
                               placeholder="Your business phone">
                    </div>
                </div>
            </div>
            <!-- /row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" th:value="*{user.getUsername()}"
                               th:field="*{user.username}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" id="email_label">Email</label>
                        <input type="text" class="form-control" th:value="*{user.getEmail()}"
                               th:field="*{user.email}" id="email" name="email" placeholder="Your email">
                    </div>
                </div>
            </div>
            <!-- /row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Date of birth</label>
                        <input th:type="Date" class="form-control" th:value="*{getDateOfBirth().toString()}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Specialization</label>
                        <input type="text" class="form-control" th:value="*{specialization}"
                               th:field="*{specialization}" placeholder="Your specialization" readonly>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row-->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Profile picture</label>
                    <input type="file" class="form-control" th:value="*{getImageName()}"
                           th:field="*{imageName}" placeholder="Your profile picture" accept="image/jpg , image/png">
                </div>
            </div>
        </div>
        <!-- /row-->
        <!-- /box_general-->

        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-map-marker"></i>Address</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city" id="city_label">City</label>
                        <input type="text" class="form-control" th:value="*{getCity()}"
                               th:field="*{city}" id="city" name="city" placeholder="City">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address" id="address_label">Address</label>
                        <input type="text" class="form-control" th:value="*{getAddress()}"
                               th:field="*{address}" id="address" name="address" placeholder="Your address">
                    </div>
                </div>
            </div>
            <!-- /row-->
        </div>
        <!-- /box_general-->
        <div class="form-group text-center add_top_30">
            <input class="btn_1" type="submit" value="Submit" name="submit_btn"
                   id="submit_btn">
        </div>
    </form>


    <!-- SCRIPT -->
    <script th:inline="javascript">
        function setInvalidInput(input, label, message) {
            input.style.borderColor = "red";
            label.style.color = "red";
            label.innerText = message;
        }

        function validation() {
            const name = document.getElementById("name");
            const surname = document.getElementById("surname");
            const email = document.getElementById("email");
            const personalPhone = document.getElementById("personal_phone");
            const businessPhone = document.getElementById("business_phone");
            const address = document.getElementById("address");
            const city = document.getElementById("city");

            const nameLabel = document.getElementById("name_label");
            const surnameLabel = document.getElementById("surname_label");
            const emailLabel = document.getElementById("email_label");
            const personalPhoneLabel = document.getElementById("personal_phone_label");
            const businessPhoneLabel = document.getElementById("business_phone_label");
            const addressLabel = document.getElementById("address_label");
            const cityLabel = document.getElementById("city_label");

            name.style.borderColor = surname.style.borderColor = email.style.borderColor =
                personalPhone.style.borderColor = businessPhone.style.borderColor =
                    address.style.borderColor = city.style.borderColor = "initial";

            nameLabel.style.color = surnameLabel.style.color = emailLabel.style.color =
                personalPhoneLabel.style.color = businessPhoneLabel.style.color =
                    addressLabel.style.color = cityLabel.style.color = "initial";

            nameLabel.innerText = "Name";
            surnameLabel.innerText = "Surname";
            emailLabel.innerText = "Email";
            personalPhoneLabel.innerText = "Personal phone";
            businessPhoneLabel.innerText = "Business phone";
            addressLabel.innerText = "Address";
            cityLabel.innerText = "City";


            let validationFailed = false;
            const email_pattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
            const phone_pattern = /^[0-9]{10}$/;
            const text_pattern = /^[a-zA-Z]+$/; // name, surname
            const city_pattern = /^[a-zA-Z\s]+$/;

            if (name.value === "" || name.value === undefined) {
                setInvalidInput(name, nameLabel, "Name is required");
                validationFailed = true;
            } else if (!text_pattern.test(name.value)) {
                setInvalidInput(name, nameLabel, "Name must contain only letters");
                validationFailed = true;
            }

            if (surname.value === "" || surname.value === undefined) {
                setInvalidInput(surname, surnameLabel, "Surname is required");
                validationFailed = true;
            } else if (!text_pattern.test(surname.value)) {
                setInvalidInput(surname, surnameLabel, "Surname must contain only letters");
                validationFailed = true;
            }

            if (email.value === "" || email.value === undefined) {
                setInvalidInput(email, emailLabel, "Email is required");
                validationFailed = true;
            } else if (!email_pattern.test(email.value)) {
                setInvalidInput(email, emailLabel, "Email is invalid");
                validationFailed = true;
            }

            if (personalPhone.value === "" || personalPhone.value === undefined) {
                setInvalidInput(personalPhone, personalPhoneLabel, "Personal phone is required");
                validationFailed = true;
            } else if (!phone_pattern.test(personalPhone.value)) {
                setInvalidInput(personalPhone, personalPhoneLabel, "Personal phone must be 10 digits");
                validationFailed = true;
            }

            if (businessPhone.value === "" || businessPhone.value === undefined) {
                setInvalidInput(businessPhone, businessPhoneLabel, "Business phone is required");
                validationFailed = true;
            } else if (!phone_pattern.test(businessPhone.value)) {
                setInvalidInput(businessPhone, businessPhoneLabel, "Business phone must be 10 digits");
                validationFailed = true;
            }

            if (address.value === "" || address.value === undefined) {
                setInvalidInput(address, addressLabel, "Address is required");
                validationFailed = true;
            }

            if (city.value === "" || city.value === undefined) {
                setInvalidInput(city, cityLabel, "City is required");
                validationFailed = true;
            } else if (!city_pattern.test(city.value)) {
                setInvalidInput(city, cityLabel, "City must contain only letters");
                validationFailed = true;
            }

            return !validationFailed; // if validation failed return false
        }
    </script>
    <!-- /SCRIPT -->
</div>
<!-- /div -->
</html>
