<!DOCTYPE html>
<html lang="en, gr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{doctor_layout}">

<head>
    <title>Reviews</title>
</head>

<div layout:fragment="main">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Reviews</li>
    </ol>
    <div class="box_general">
        <div class="header_box">
            <h2 class="d-inline-block">Reviews List</h2>
            <div class="filter">
                <select name="orderby" class="selectbox">
                    <option value="Any time">Any time</option>
                    <option value="Latest">Latest</option>
                    <option value="Oldest">Oldest</option>
                </select>
            </div>
        </div>
        <div class="list_general reviews">
            <ul>
                <li th:each="review : ${allReviews}">
                    <span th:text="${review.getDate().getDayOfMonth() + '/' + review.getDate().getMonthValue() + '/' + review.getDate().getYear() + ', ' + review.getDate().getHour() + ':' + review.getDate().getMinute()}">June 15 2017</span>
                    <span class="rating">
                        <i th:each="star : ${#numbers.sequence(1, 5)}"
                           th:class="${review.getRatingValue() >= star} ? 'fa fa-fw fa-star yellow' : 'fa fa-fw fa-star'"></i></span>
                    <h4 th:text="${review.getPatient().getUser().getUsername()}"></h4>
                    <p th:text="${review.getReview()}"></p>
                </li>
            </ul>
        </div>
    </div>
    <!-- /box_general-->
<!--    <nav aria-label="...">-->
<!--        <ul class="pagination pagination-sm add_bottom_30">-->
<!--            <li class="page-item disabled">-->
<!--                <a class="page-link" href="#" tabindex="-1">Previous</a>-->
<!--            </li>-->
<!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="#">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
    <!-- /pagination-->
</div>
<!-- /div -->

</html>