<!DOCTYPE html>
<html lang="en, gr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout}">

<head>
  <title>View Patients</title>
</head>

<div layout:fragment="main">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a th:href="@{/admin/index}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Patients</li>
  </ol>
  <div class="box_general">
    <div class="header_box">
      <h2 class="d-inline-block">Patients List</h2>
      <div class="filter">
        <select name="orderby" class="selectbox">
          <option value="Any status">Any status</option>
          <option value="Approved">Approved</option>
          <option value="Pending">Pending</option>
          <option value="Cancelled">Cancelled</option>
        </select>
      </div>
    </div>
    <div th:each="patient :${patients}" class="list_general">
      <ul>
        <li th:if="${patient.getUserDto().getUserType().equals('patient')}">
          <h4 >
            <span th:utext="${patient.getFullName()}" th:remove="tag"></span>
          </h4>

          <ul class="booking_details">
            <li><strong>Amka </strong><i th:text="${patient.getAmka()}"></i></li>
            <li><strong>Registered on </strong><i th:text="${patient.getRegisteredDate()}"></i></li>
            <li><strong>Date of Birth </strong><i th:text="${patient.getDateOfBirth()}"></i></li>
            <li><strong>Contact phone </strong><i th:text="${patient.getUserDto().getPhone()}"></i></li>
            <li><strong>Username </strong><i th:text="${patient.getUserDto().getUsername()}"></i></li>
            <li><strong>Email </strong><i th:text="${patient.getUserDto().getEmail()}"></i></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /box_general-->
  <nav aria-label="...">
    <ul class="pagination pagination-sm add_bottom_30">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <!-- /pagination-->
</div>
<!-- /div -->

</html>